In [4]:
from pyspark.sql import SparkSession

nyc_taxi_challenge_path = '../../nyc-taxi-challenge/'

spark = SparkSession.builder.appName("NYC Taxi Challenge").getOrCreate()
spark

# Exploring the datasets

## Trips from 2009

This dataset has informations about taxi trips of 2009

In [7]:
json_2009_trips = nyc_taxi_challenge_path + 'datasets/data-sample_data-nyctaxi-trips-2009-json_corrigido.json'
trips_df = spark.read.json(json_2009_trips)

trips_df.limit(100).toPandas()

,dropoff_datetime,dropoff_latitude,dropoff_longitude,fare_amount,passenger_count,payment_type,pickup_datetime,pickup_latitude,pickup_longitude,rate_code,store_and_fwd_flag,surcharge,tip_amount,tolls_amount,total_amount,trip_distance,vendor_id
0,2009-04-21T18:57:09.433767+00:00,40.747950,-73.994712,5.4,2,Cash,2009-04-21T18:51:11.767205+00:00,40.742950,-74.004114,None,None,0.0,0.00,0.00,5.40,0.80,CMT
1,2009-01-13T07:50:36.386011+00:00,40.792385,-73.940449,15.4,1,Cash,2009-01-13T07:40:07.639754+00:00,40.747784,-73.996506,None,None,0.0,0.00,0.00,15.40,5.40,CMT
2,2009-01-06T19:43:09.908429+00:00,40.768108,-73.944535,6.1,5,CASH,2009-01-06T19:30:44.142187+00:00,40.752070,-73.951340,None,None,1.0,0.00,0.00,7.10,1.67,VTS
3,2009-09-24T08:41:56.739991+00:00,40.721812,-73.958122,12.9,1,CASH,2009-09-24T08:28:09.004451+00:00,40.729128,-74.001117,None,None,0.5,0.00,0.00,13.40,4.13,VTS
4,2009-10-29T05:57:22.880174+00:00,40.776075,-73.979757,7.7,1,CASH,2009-10-29T05:50:39.214629+00:00,40.756873,-73.976600,None,None,0.5,0.00,0.00,8.20,2.03,VTS
5,2009-10-23T17:23:51.913687+00:00,40.750478,-73.978623,6.5,1,CASH,2009-10-23T17:14:45.661393+00:00,40.750528,-73.994665,None,None,0.0,0.00,0.00,6.50,1.15,VTS
6,2009-03-30T09:47:12.908395+00:00,40.774042,-73.870838,22.1,1,CASH,2009-03-30T09:41:23.359373+00:00,40.772843,-73.955462,None,None,0.0,0.00,4.15,26.25,8.61,VTS
7,2009-03-18T18:02:40.735727+00:00,40.759317,-73.985112,5.7,5,Credit,2009-03-18T17:56:30.217996+00:00,40.757998,-73.976158,None,None,0.0,2.00,0.00,7.70,0.84,VTS
8,2009-03-30T13:32:11.850561+00:00,40.761585,-73.975072,6.1,2,CASH,2009-03-30T13:21:23.577454+00:00,40.764408,-73.988585,None,None,0.0,0.00,0.00,6.10,1.04,VTS
9,2009-02-20T18:11:48.973565+00:00,40.747330,-73.993722,3.7,5,CASH,2009-02-20T18:06:37.232527+00:00,40.740683,-74.001978,None,None,0.0,0.00,0.00,3.70,0.75,VTS
10,2009-06-27T16:51:08.73372+00:00,0.000000,0.000000,5.7,2,CASH,2009-06-27T16:40:08.347535+00:00,0.000000,0.000000,None,None,1.0,0.00,0.00,6.70,1.11,VTS
11,2009-03-04T21:36:42.342198+00:00,40.731687,-73.990310,11.7,1,Credit,2009-03-04T21:26:51.273336+00:00,40.686802,-73.996177,None,None,0.5,2.00,0.00,14.20,4.02,VTS
12,2009-02-10T04:54:11.622354+00:00,40.784233,-73.977605,9.3,1,CASH,2009-02-10T04:47:00.008147+00:00,40.745608,-74.005618,None,None,0.0,0.00,0.00,9.30,3.08,VTS
13,2009-06-23T18:34:35.293226+00:00,40.723839,-73.950905,15.3,2,Credit,2009-06-23T18:24:30.175248+00:00,40.769041,-73.951549,None,None,0.0,2.00,0.00,17.30,5.00,CMT
14,2009-11-17T05:00:35.697468+00:00,40.762720,-74.000088,7.7,2,CASH,2009-11-17T04:51:15.982618+00:00,40.762240,-73.979138,None,None,0.0,0.00,0.00,7.70,1.49,VTS
15,2009-02-08T06:41:08.813183+00:00,40.776245,-73.955452,3.7,5,CASH,2009-02-08T06:32:17.418097+00:00,40.768632,-73.961112,None,None,0.5,0.00,0.00,4.20,0.62,VTS
16,2009-05-11T02:20:47.875475+00:00,40.764232,-73.973837,14.1,2,CASH,2009-05-11T02:09:13.875625+00:00,40.725397,-74.001133,None,None,0.0,0.00,0.00,14.10,3.67,VTS
17,2009-05-22T22:29:09.309794+00:00,40.741618,-74.005082,4.5,2,Credit,2009-05-22T22:21:41.345533+00:00,40.736822,-73.992927,None,None,1.0,1.00,0.00,6.50,0.71,VTS
18,2009-11-06T15:57:58.472462+00:00,40.733725,-73.990508,5.7,5,CASH,2009-11-06T15:46:43.723758+00:00,40.721763,-73.988935,None,None,0.0,0.00,0.00,5.70,1.16,VTS
19,2009-02-09T04:47:02.133343+00:00,40.777527,-73.979060,7.7,1,CASH,2009-02-09T04:41:54.787835+00:00,40.761537,-73.999820,None,None,0.5,0.00,0.00,8.20,2.08,VTS
20,2009-03-27T06:41:09.305706+00:00,40.755350,-73.975337,5.7,1,CASH,2009-03-27T06:29:58.317826+00:00,40.748562,-73.988607,None,None,0.0,0.00,0.00,5.70,1.09,VTS
21,2009-05-01T09:48:23.894017+00:00,40.768952,-73.981138,9.7,1,CASH,2009-05-01T09:43:32.66883+00:00,40.782083,-73.959453,None,None,1.0,0.00,0.00,10.70,2.00,VTS
22,2009-10-22T11:49:47.375259+00:00,40.749940,-73.993072,9.3,2,CASH,2009-10-22T11:40:54.09143+00:00,40.767778,-73.981372,None,None,0.0,0.00,0.00,9.30,1.33,VTS
23,2009-12-06T23:50:12.801402+00:00,40.810220,-73.952942,6.1,3,CASH,2009-12-06T23:41:19.847717+00:00,40.799498,-73.945202,None,None,0.5,0.00,0.00,6.60,1.10,VTS
24,2009-05-29T10:54:24.226354+00:00,40.741715,-73.923572,32.1,1,CASH,2009-05-29T10:42:01.256357+00:00,40.639563,-73.785732,None,None,0.0,0.00,0.00,32.10,14.40,VTS
25,2009-10-10T00:37:46.033325+00:00,40.807945,-73.949675,12.9,2,CASH,2009-10-10T00:27:01.184045+00:00,40.758180,-73.989370,None,None,0.5,0.00,0.00,13.40,4.28,VTS
26,2009-05-02T18:47:17.076487+00:00,40.741422,-73.988140,8.5,1,CASH,2009-05-02T18:38:09.434373+00:00,40.716392,-74.007367,None,None,0.0,0.00,0.00,8.50,2.38,VTS
27,2009-11-15T19:43:00.937799+00:00,40.759648,-73.970007,6.1,1,Credit,2009-11-15T19:31:57.533702+00:00,40.781828,-73.953867,None,None,0.0,2.00,0.00,8.10,1.77,VTS
28,2009-05-11T09:00:18.139277+00:00,40.749377,-74.002770,6.1,5,CASH,2009-05-11T08:50:14.692211+00:00,40.733722,-74.006642,None,None,0.0,0.00,0.00,6.10,1.69,VTS
29,2009-04-14T04:48:11.449899+00:00,40.734113,-73.996682,8.5,1,CASH,2009-04-14T04:39:49.634943+00:00,40.717268,-74.000610,None,None,0.0,0.00,0.00,8.50,1.75,VTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2009-02-11T14:51:44.888027+00:00,40.774553,-73.959242,6.9,2,Credit,2009-02-11T14:44:02.033601+00:00,40.790938,-73.975098,None,None,0.5,1.00,0.00,8.40,1.78,VTS
71,2009-08-29T08:49:12.433697+00:00,40.773875,-73.963688,4.1,1,CASH,2009-08-29T08:40:40.759295+00:00,40.779703,-73.955558,None,None,0.5,0.00,0.00,4.60,0.73,VTS
72,2009-06-20T18:05:18.257956+00:00,40.725760,-73.997205,13.3,5,CASH,2009-06-20T18:00:51.336193+00:00,40.770402,-73.956973,None,None,1.0,0.00,0.00,14.30,4.06,VTS
73,2009-06-30T00:49:37.220134+00:00,40.754168,-73.982638,6.1,2,CASH,2009-06-30T00:37:43.184828+00:00,40.763403,-73.978202,None,None,1.0,0.00,0.00,7.10,0.84,VTS
74,2009-08-18T05:32:50.264727+00:00,40.761625,-73.984170,3.7,5,CASH,2009-08-18T05:25:16.836888+00:00,40.759317,-73.987667,None,None,0.5,0.00,0.00,4.20,0.39,VTS
75,2009-11-14T17:22:53.764073+00:00,40.756745,-73.971955,10.9,3,CASH,2009-11-14T17:12:36.593657+00:00,40.736430,-74.000980,None,None,1.0,0.00,0.00,11.90,2.98,VTS
76,2009-10-23T15:32:05.263388+00:00,40.773783,-73.958057,7.3,1,CASH,2009-10-23T15:22:40.332352+00:00,40.779683,-73.983937,None,None,0.5,0.00,0.00,7.80,1.95,VTS
77,2009-09-11T08:50:36.922618+00:00,40.763562,-73.984683,8.5,4,CASH,2009-09-11T08:42:10.346256+00:00,40.738897,-73.987470,None,None,0.5,0.00,0.00,9.00,2.30,VTS
78,2009-09-09T18:45:17.159344+00:00,40.724140,-73.980707,5.7,1,Credit,2009-09-09T18:33:35.740424+00:00,40.733198,-73.975950,None,None,0.5,2.00,0.00,8.20,0.98,VTS
79,2009-07-30T04:41:42.630115+00:00,40.744185,-73.995867,11.3,1,CASH,2009-07-30T04:29:18.839089+00:00,40.771248,-73.964697,None,None,0.0,0.00,0.00,11.30,3.25,VTS
80,2009-09-02T03:55:22.052973+00:00,40.749747,-73.977350,5.7,5,CASH,2009-09-02T03:45:47.579384+00:00,40.739598,-73.986810,None,None,0.5,0.00,0.00,6.20,1.04,VTS
81,2009-08-11T00:45:42.68796+00:00,40.770555,-73.932042,15.7,1,CASH,2009-08-11T00:36:29.675027+00:00,40.749795,-73.985192,None,None,1.0,0.00,0.00,16.70,5.30,VTS
82,2009-07-27T00:15:29.288866+00:00,40.816400,-73.944612,24.5,4,Credit,2009-07-27T00:05:55.649972+00:00,40.723578,-73.987492,None,None,0.5,0.00,0.00,25.00,9.16,VTS
83,2009-01-13T08:46:31.091022+00:00,40.773597,-73.872853,29.3,6,Credit,2009-01-13T08:32:57.495021+00:00,40.759120,-73.985948,None,None,0.0,7.32,0.00,36.62,11.38,VTS
84,2009-05-24T18:27:55.591834+00:00,40.794873,-73.948577,6.1,1,CASH,2009-05-24T18:20:17.70106+00:00,40.772100,-73.965180,None,None,1.0,0.00,0.00,7.10,1.81,VTS
85,2009-07-20T19:31:28.7627+00:00,40.763288,-73.963508,4.9,2,CASH,2009-07-20T19:23:52.322252+00:00,40.752720,-73.967557,None,None,1.0,0.00,0.00,5.90,0.97,VTS
86,2009-09-24T00:11:04.355427+00:00,40.797867,-73.937295,18.1,1,CASH,2009-09-24T00:02:08.667015+00:00,40.749005,-73.991452,None,None,0.0,0.00,0.00,18.10,0.55,VTS
87,2009-01-05T12:44:54.542712+00:00,40.735582,-74.003600,6.1,5,CASH,2009-01-05T12:31:06.924816+00:00,40.753870,-73.995943,None,None,1.0,0.00,0.00,7.10,1.49,VTS
88,2009-11-10T09:29:45.29934+00:00,40.762807,-73.985273,4.5,2,CASH,2009-11-10T09:19:58.415226+00:00,40.761627,-73.974568,None,None,1.0,0.00,0.00,5.50,0.72,VTS
89,2009-06-05T11:14:38.55763+00:00,40.750458,-73.988085,7.3,3,CASH,2009-06-05T11:03:17.372711+00:00,40.762283,-73.974578,None,None,1.0,0.00,0.00,8.30,1.30,VTS
90,2009-11-29T15:40:11.646546+00:00,40.762788,-73.995123,5.3,1,CASH,2009-11-29T15:32:10.854464+00:00,40.768150,-73.988838,None,None,0.0,0.00,0.00,5.30,1.05,VTS
91,2009-07-06T04:00:13.299562+00:00,40.777690,-73.985713,8.1,1,CASH,2009-07-06T03:55:54.156822+00:00,40.804338,-73.967000,None,None,0.0,0.00,0.00,8.10,2.13,VTS
92,2009-03-24T08:31:09.090743+00:00,40.647042,-73.790083,29.7,1,CASH,2009-03-24T08:24:22.588942+00:00,40.774107,-73.873167,None,None,1.0,0.00,0.00,30.70,12.90,VTS
93,2009-08-04T22:18:56.323423+00:00,40.747133,-73.981785,10.5,5,CASH,2009-08-04T22:14:41.243527+00:00,40.776700,-73.948938,None,None,0.0,0.00,0.00,10.50,3.52,VTS
94,2009-06-18T10:58:29.149372+00:00,40.749192,-73.984470,5.3,1,CASH,2009-06-18T10:51:47.186794+00:00,40.759840,-73.976685,None,None,0.0,0.00,0.00,5.30,0.83,VTS
95,2009-02-19T11:47:45.835835+00:00,40.724387,-74.001587,6.1,5,CASH,2009-02-19T11:36:08.430537+00:00,40.717068,-74.014385,None,None,0.0,0.00,0.00,6.10,1.26,VTS
96,2009-09-15T17:15:05.313336+00:00,40.758770,-73.974393,9.7,1,CASH,2009-09-15T17:06:47.096457+00:00,40.776588,-73.946728,None,None,0.0,0.00,0.00,9.70,2.72,VTS
97,2009-08-07T12:06:55.715269+00:00,40.754380,-73.979053,6.1,1,CASH,2009-08-07T11:58:16.706092+00:00,40.770898,-73.981800,None,None,0.0,0.00,0.00,6.10,1.67,VTS
98,2009-01-10T14:02:20.733953+00:00,40.730123,-73.991427,7.3,1,Credit,2009-01-10T13:53:20.586247+00:00,40.734965,-73.991987,None,None,1.0,1.50,0.00,9.80,1.22,VTS
99,2009-07-23T10:01:51.538359+00:00,40.719562,-73.994568,5.7,5,CASH,2009-07-23T09:49:51.786307+00:00,40.731152,-74.001248,None,None,0.5,0.00,0.00,6.20,1.26,VTS

## Payment lookup

This one is of payment lookup's:

In [15]:
from pyspark.sql.functions import col

csv_payment_lookup = nyc_taxi_challenge_path + 'datasets/data-payment_lookup-csv.csv'
payment_lookup_df = (
    spark.read
        .format('csv')
        .option('header', True)
        .load(csv_payment_lookup)
        .filter(col('A') != 'payment_type')
        .withColumnRenamed('A', 'payment_type')
        .withColumnRenamed('B', 'payment_lookup')
)

payment_lookup_df.limit(100).toPandas()

   payment_type payment_lookup
0           Cas           Cash
1           CAS           Cash
2           Cre         Credit
3           CRE         Credit
4           No       No Charge
..          ...            ...
95           79            Foo
96           80            Foo
97           81            Foo
98           82            Foo
99           83            Foo

[100 rows x 2 columns]

## Vendor lookup

This is the vendor's lookup dataset:

In [17]:
from pyspark.sql.functions import col

csv_vendor_lookup = nyc_taxi_challenge_path + 'datasets/data-vendor_lookup-csv.csv'
vendor_lookup_df = (
    spark.read
        .format('csv')
        .option('header', True)
        .load(csv_vendor_lookup)
)

vendor_lookup_df.limit(100).toPandas()

,vendor_id,name,address,city,state,zip,country,contact,current
0,CMT,"Creative Mobile Technologies, LLC",950 4th Road Suite 78,Brooklyn,NY,11210,USA,contactCMT@gmail.com,Yes
1,VTS,VeriFone Inc,26 Summit St.,Flushing,NY,11354,USA,admin@vtstaxi.com,Yes
2,DDS,"Dependable Driver Service, Inc",8554 North Homestead St.,Bronx,NY,10472,USA,9778896500,Yes
3,TS,Total Solutions Co,Five Boroughs Taxi Co.,Brooklyn,NY,11229,USA,mgmt@5btc.com,Yes
4,MT,Mega Taxi,4 East Jennings St.,Brooklyn,NY,11228,USA,contact@megataxico.com,No

# Questions

Queremos que, a partir dos dados disponibilizados, voceÌ‚ responda, de prefereÌ‚ncia com graÌficos aÌ€s seguintes questoÌƒes:

1. Qual a distaÌ‚ncia meÌdia percorrida por viagens com no maÌximo 2 passageiros;
2. Quais os 3 maiores â€‹vendorsâ€‹ em quantidade total de dinheiro arrecadado;
3. FacÌ§a um histograma da distribuicÌ§aÌƒo mensal, nos 4 anos, de corridas pagas em dinheiro;
4. FacÌ§a um graÌfico de seÌrie temporal contando a quantidade de gorjetas de cada dia, nos uÌltimos 3 meses de 2012.

## DistÃ¢ncia mÃ©dia percorrida por viagens com no mÃ¡ximo 2 passageiros

## Os 3 maiores vendors em quantidade total de dinheiro arrecadado

## Histograma da distribuiÃ§Ã£o mensal (nos 4 anos) de corridas pagas em dinheiro

## Quantidade de gorjetas por dia nos Ãºltimos 3 meses de 2012

# Bonus questions


- Qual o tempo meÌdio das corridas nos dias de saÌbado e domingo;
- Fazer uma visualizacÌ§aÌƒo em mapa com latitude e longitude de â€‹pickups and â€‹dropoffs â€‹no ano de 2010;
- Simular um â€‹streaming dos dados dos â€‹JSON e fazer uma visualizacÌ§aÌƒo acompanhando uma meÌtrica em tempo-real;
- Conseguir provisionar todo seu ambiente em uma cloud puÌblica, de prefereÌ‚ncia â€‹AWSâ€‹.

## Tempo mÃ©dio das corridas nos dias de sÃ¡bado e domingo

## VisualizaÃ§Ã£o em mapa com latitude e longitude de pickups e dropoffs no ano de 2010