# STEP 6: Repeat the computation from the facts & dimension table

Note: You will not have to write any code in this notebook. It's purely to illustrate the performance difference between Star and 3NF schemas.

Start by running the code in the cell below to connect to the database.

In [ ]:
!PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila_star
!PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila_star -f Data/pagila-data.sql

In [2]:
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://student:student@127.0.0.1:5432/pagila_star

'Connected: student@pagila_star'

## 6.1 Facts Table has all the needed dimensions, no need for deep joins

In [3]:
%%time
%%sql
SELECT movie_key, date_key, customer_key, sales_amount
FROM factSales 
limit 5;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
(psycopg2.ProgrammingError) relation "factsales" does not exist
LINE 2: FROM factSales
             ^
 [SQL: 'SELECT movie_key, date_key, customer_key, sales_amount\nFROM factSales \nlimit 5;']
CPU times: user 2.57 ms, sys: 397 µs, total: 2.97 ms
Wall time: 4.63 ms

## 6.2 Join fact table with dimensions to replace keys with attributes

As you run each cell, pay attention to the time that is printed. Which schema do you think will run faster?

##### Star Schema

In [4]:
%%time
%%sql
SELECT dimMovie.title, dimDate.month, dimCustomer.city, sum(sales_amount) as revenue
FROM factSales 
JOIN dimMovie    on (dimMovie.movie_key      = factSales.movie_key)
JOIN dimDate     on (dimDate.date_key         = factSales.date_key)
JOIN dimCustomer on (dimCustomer.customer_key = factSales.customer_key)
group by (dimMovie.title, dimDate.month, dimCustomer.city)
order by dimMovie.title, dimDate.month, dimCustomer.city, revenue desc;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
(psycopg2.ProgrammingError) relation "factsales" does not exist
LINE 2: FROM factSales
             ^
 [SQL: 'SELECT dimMovie.title, dimDate.month, dimCustomer.city, sum(sales_amount) as revenue\nFROM factSales \nJOIN dimMovie    on (dimMovie.movie_key      = factSales.movie_key)\nJOIN dimDate     on (dimDate.date_key         = factSales.date_key)\nJOIN dimCustomer on (dimCustomer.customer_key = factSales.customer_key)\ngroup by (dimMovie.title, dimDate.month, dimCustomer.city)\norder by dimMovie.title, dimDate.month, dimCustomer.city, revenue desc;']
CPU times: user 4.97 ms, sys: 54 µs, total: 5.02 ms
Wall time: 6.58 ms

##### 3NF Schema

In [5]:
%%time
%%sql
SELECT f.title, EXTRACT(month FROM p.payment_date) as month, ci.city, sum(p.amount) as revenue
FROM payment p
JOIN rental r    ON ( p.rental_id = r.rental_id )
JOIN inventory i ON ( r.inventory_id = i.inventory_id )
JOIN film f ON ( i.film_id = f.film_id)
JOIN customer c  ON ( p.customer_id = c.customer_id )
JOIN address a ON ( c.address_id = a.address_id )
JOIN city ci ON ( a.city_id = ci.city_id )
group by (f.title, month, ci.city)
order by f.title, month, ci.city, revenue desc;

 * postgresql://student:***@127.0.0.1:5432/pagila_star
(psycopg2.ProgrammingError) relation "payment" does not exist
LINE 2: FROM payment p
             ^
 [SQL: 'SELECT f.title, EXTRACT(month FROM p.payment_date) as month, ci.city, sum(p.amount) as revenue\nFROM payment p\nJOIN rental r    ON ( p.rental_id = r.rental_id )\nJOIN inventory i ON ( r.inventory_id = i.inventory_id )\nJOIN film f ON ( i.film_id = f.film_id)\nJOIN customer c  ON ( p.customer_id = c.customer_id )\nJOIN address a ON ( c.address_id = a.address_id )\nJOIN city ci ON ( a.city_id = ci.city_id )\ngroup by (f.title, month, ci.city)\norder by f.title, month, ci.city, revenue desc;']
CPU times: user 1.95 ms, sys: 4.39 ms, total: 6.34 ms
Wall time: 7.86 ms

# Conclusion

We were able to show that:
* The star schema is easier to understand and write queries against.
* Queries with a star schema are more performant.